<div class="container">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie, collection: Movie.order('title ASC'), input_html: { class: 'select2' } %>
    <%= f.submit %>
  <% end %>
</div>
