// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

img {
  object-fit: contain;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.footer{
    margin-top: auto;
}
